{{>header}}
{{>navbar}}

<form method="get" action="/addTaskLogic">
    <input name="title" placeholder="title" >
    <input name="content" placeholder="content" >
    <input name="dueDate" placeholder="dueDate" >
    <button>add</button>
</form>

{{>footer}}